<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Controllers.Authenication.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <servlet-class>Controllers.Authenication.GoogleSignIn.GoogleSignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controllers.Authenication.SignUp.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitServerServlet</servlet-name>
        <servlet-class>Controllers.Init.InitServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowArticleResultServlet</servlet-name>
        <servlet-class>Controllers.SearchArticle.ShowArticleResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovePageServlet</servlet-name>
        <servlet-class>Controllers.SearchArticle.MovePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetParamsServlet</servlet-name>
        <servlet-class>Controllers.SearchArticle.ResetParamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>Controllers.Authenication.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardNavigationSearchServlet</servlet-name>
        <servlet-class>Controllers.SearchArticle.ForwardNavigationSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardHomeTopicSearchServlet</servlet-name>
        <servlet-class>Controllers.SearchArticle.ForwardHomeTopicSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayArticleServlet</servlet-name>
        <servlet-class>Controllers.Display.DisplayArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactionInteractServlet</servlet-name>
        <servlet-class>Controllers.Display.ReactionInteractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyProfileServlet</servlet-name>
        <servlet-class>Controllers.Profile.ShowMyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyRespiratoryServlet</servlet-name>
        <servlet-class>Controllers.Profile.ShowMyRespiratoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRepositoryPaperServlet</servlet-name>
        <servlet-class>Controllers.Profile.SearchRepositoryPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassifyTopicPaperServlet</servlet-name>
        <servlet-class>Controllers.Profile.ClassifyTopicPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassifyTopicArticleServlet</servlet-name>
        <servlet-class>Controllers.Profile.ClassifyTopicArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRepositoryArticleServlet</servlet-name>
        <servlet-class>Controllers.Profile.SearchRepositoryArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchPaperArticleServlet</servlet-name>
        <servlet-class>Controllers.Profile.SwitchPaperArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>Controllers.CreatePaper.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartCreatePaperServlet</servlet-name>
        <servlet-class>Controllers.CreatePaper.StartCreatePaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleSignInServlet</servlet-name>
        <url-pattern>/GoogleSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitServerServlet</servlet-name>
        <url-pattern>/InitServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowArticleResultServlet</servlet-name>
        <url-pattern>/ShowArticleResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovePageServlet</servlet-name>
        <url-pattern>/MovePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetParamsServlet</servlet-name>
        <url-pattern>/ResetParamsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardNavigationSearchServlet</servlet-name>
        <url-pattern>/ForwardNavigationSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardHomeTopicSearchServlet</servlet-name>
        <url-pattern>/ForwardHomeTopicSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayArticleServlet</servlet-name>
        <url-pattern>/DisplayArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactionInteractServlet</servlet-name>
        <url-pattern>/ReactionInteractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyProfileServlet</servlet-name>
        <url-pattern>/ShowMyProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyRespiratoryServlet</servlet-name>
        <url-pattern>/ShowMyRespiratoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRepositoryPaperServlet</servlet-name>
        <url-pattern>/SearchRepositoryPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassifyTopicPaperServlet</servlet-name>
        <url-pattern>/ClassifyTopicPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassifyTopicArticleServlet</servlet-name>
        <url-pattern>/ClassifyTopicArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRepositoryArticleServlet</servlet-name>
        <url-pattern>/SearchRepositoryArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchPaperArticleServlet</servlet-name>
        <url-pattern>/SwitchPaperArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartCreatePaperServlet</servlet-name>
        <url-pattern>/StartCreatePaperServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>InitServerServlet</welcome-file>
    </welcome-file-list>
</web-app>
